<aside
  class="aperture aperture--site"
  aria-hidden="true"
  data-aperture
  data-aperture-mode="code_mode"
>
  <div class="aperture-stage" data-aperture-stage>
    <canvas class="aperture-canvas" data-aperture-canvas aria-hidden="true"></canvas>
    <div class="aperture-fallback" aria-hidden="true">
      <span></span>
      <span></span>
      <span></span>
      <b></b>
    </div>
  </div>
</aside>
