# Build & Deps
dist/
node_modules/

# Benchmark results
benchmark-results/

# Turbo
.turbo/

# Pi
.pi-lens/
!.pi-lens/semgrep.json

# Playwright
.playwright-mcp/
.playwright-cli/

# alchemy
.alchemy

.env*
!.env.example
