---
import { DashboardApp } from "@/components/DashboardApp";
import DashboardHead from "@/components/DashboardHead.astro";
import "@/styles/globals.css";
---

<html lang="en">
  <DashboardHead title="Settings" />
  <body>
    <DashboardApp client:load initialRoute="settings" />
  </body>
</html>
