---
import { DashboardApp } from "@/components/DashboardApp";
import DashboardHead from "@/components/DashboardHead.astro";
import "@/styles/globals.css";
---

<html lang="en">
  <DashboardHead title="Stored Caplets" />
  <body>
    <DashboardApp client:load initialRoute="stored-caplets" />
  </body>
</html>
